<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <a href="/user/new">Create User</a>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>CPF</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.cpf }}</td>
            <td>
                <a href="/user/{{ user.id }}">View</a>
                <a href="/user/{{ user.id }}/edit">Edit</a>
                <a href="/user/{{ user.id }}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
